@using ICTransportDemo.DataContract;
@inject IJsonHelper Json;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model GET_ALL_DETAIL
<div class="row mb-1" style="background-color : lightgray">

    <div class="container mt-2 mb-2 rounded-3 shadow h-100 bg-white">
        <div class="row mt-2 mb-2">

            <div class="row mb-1">
                <div class="col-sm col-md d-flex justify-content-sm-start">รหัสบริษัท :</div>
                <div class="col-sm col-md bg-light rounded d-flex justify-content-end">@Model.customer.customer_id </div>
                <div class="col-sm col-md d-flex justify-content-sm-start">ขื่อบริษัท :</div>
                <div class="col-sm col-md bg-light rounded d-flex justify-content-end">@Model.customer.fname </div>
                <div class="col-sm col-md d-flex justify-content-sm-start">ประเภท :</div>
                <div class="col-sm col-md bg-light rounded d-flex justify-content-end">@Model.customer.cust_type</div>
                <div class="col-sm col-md d-flex justify-content-sm-start">ที่อยู่ :</div>
                <div class="col-sm col-md bg-light rounded d-flex justify-content-end">@Model.customer.address </div>
            </div>
            <div class="row mb-1">
                <div class="col-sm col-md d-flex justify-content-sm-start ">ตำบล :</div>
                <div class="col-sm col-md bg-light rounded d-flex justify-content-end">@Model.customer.district_name_tha </div>
                <div class="col-sm col-md d-flex justify-content-sm-start ">อำเภอ :</div>
                <div class="col-sm col-md bg-light rounded d-flex justify-content-end">@Model.customer.sub_district_name_tha </div>
                <div class="col-sm col-md d-flex justify-content-sm-start ">จังหวัด :</div>
                <div class="col-sm col-md bg-light rounded d-flex justify-content-end">@Model.customer.province_name_tha</div>
                <div class="col-sm col-md d-flex justify-content-sm-start ">รหัสไปรษณี :</div>
                <div class="col-sm col-md bg-light rounded d-flex justify-content-end">@Model.customer.zip_Code </div>
            </div>
            <div class="row mb-1">
                <div class="col-sm col-md d-flex justify-content-sm-start ">เบอร์ :</div>
                <div class="col-sm col-md bg-light rounded d-flex justify-content-end">@Model.customer.phone_No </div>
                <div class="col-sm col-md d-flex justify-content-sm-start ">อีเมล :</div>
                <div class="col-sm col-md bg-light rounded d-flex justify-content-end">@Model.customer.email </div>
                <div class="col-sm col-md d-flex justify-content-sm-start "></div>
                <div class="col-sm col-md "> </div>
                <div class="col-sm col-md d-flex justify-content-sm-start "></div>
                <div class="col-sm col-md "> </div>
            </div>
        </div>

    </div>
</div>
<div class="row" rounded-2>
    <div class="tab-content" id="v-pills-tabContent">
        <div>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-desc-tab" data-bs-toggle="tab" data-bs-target="#nav-desc" type="button" role="tab" aria-controls="nav-home" aria-selected="true">รายละเอียดรถ</button>
                    <button class="nav-link" id="nav-descjob-tab" data-bs-toggle="tab" data-bs-target="#nav-descjob" type="button" role="tab" aria-controls="nav-descjob" aria-selected="false">รายละเอียดงาน</button>
                    <button class="nav-link" id="nav-mailhis-tab" data-bs-toggle="tab" data-bs-target="#nav-mailhis" type="button" role="tab" aria-controls="nav-mailhis" aria-selected="false">ประวัติการส่งอีเมล</button>
                </div>
            </nav>
            <div class="tab-content rounded-2" id="nav-tabContent">
                <div class="tab-pane fade show active rounded shadow" style="background:#AAD4EE" id="nav-desc" role="tabpanel" aria-labelledby="nav-desc-tab">
                    <div class="container mb-4 mt-2 display-6 d-flex justify-content-center ">รายละเอียดรถ</div>
                    <div class="container-fluid  rounded-2 h-100">
                        @if (Model.vehicles != null)
                        {
                            foreach (var item in Model.vehicles)
                            {
                                <div class="row mb-2">
                                    <div class="col d-flex justify-content-sm-start">เลขทะเบียน :</div>
                                    <div class="col-sm bg-light rounded "><label class="d-flex justify-content-end">@item.license_No</label></div>
                                    <div class="col-sm d-flex justify-content-sm-start">ซีเควน :</div>
                                    <div class="col-sm bg-light rounded"><label class="d-flex justify-content-end">@item.seq</label></div>
                                    <div class="col-sm d-flex justify-content-sm-start">เลขที่ยี่ห้อ :</div>
                                    <div class="col-sm bg-light rounded"><label class="d-flex justify-content-end">@item.brand_No</label></div>
                                    <div class="col-sm d-flex justify-content-sm-start">เลขที่โมเดล :</div>
                                    <div class="col-sm bg-light rounded"><label class="d-flex justify-content-end">@item.model_No</label></div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm d-flex justify-content-sm-start">เลขแชสซี :</div>
                                    <div class="col-sm bg-light rounded"><label class="d-flex justify-content-end">@item.chassis_No</label></div>
                                    <div class="col-sm d-flex justify-content-sm-start">สี :</div>
                                    <div class="col-sm bg-light rounded"><label class="d-flex justify-content-end">@item.color</label></div>
                                    <div class="col-sm d-flex justify-content-sm-start">วันที่มีผล :</div>
                                    <div class="col-sm bg-light rounded"><label class="d-flex justify-content-end">@item.effective_Date</label></div>
                                    <div class="col-sm d-flex justify-content-sm-start">วันที่สิ้นสุด :</div>
                                    <div class="col-sm bg-light rounded"><label class="d-flex justify-content-end">@item.expire_Date</label></div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm d-flex justify-content-sm-start">ราคาค่าบริการ :</div>
                                    <div class="col-sm bg-light rounded"><label class="d-flex justify-content-end">@item.service_Price</label></div>
                                    <div class="col-sm d-flex justify-content-sm-start">เลขที่บริการ :</div>
                                    <div class="col-sm bg-light rounded"><label class="d-flex justify-content-end">@item.service_No</label></div>
                                    <div class="col-sm d-flex justify-content-sm-start">เลขที่สัญญา :</div>
                                    <div class="col-sm bg-light rounded"><label class="d-flex justify-content-end">@item.contract_No</label></div>
                                    <div class="col-sm d-flex justify-content-sm-start">เลขที่ลูกค้า :</div>
                                    <div class="col-sm bg-light rounded"><label class="d-flex justify-content-end">@item.customer_Id</label></div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm d-flex justify-content-sm-start">ประเภทสัญญา :</div>
                                    <div class="col-sm bg-light rounded mb-2"><label class="d-flex justify-content-end">@item.contract_Type</label></div>
                                    <div class="col-sm d-flex justify-content-sm-start">std_Pmp :</div>
                                    <div class="col-sm bg-light rounded mb-2"><label class="d-flex justify-content-end">@item.std_Pmp</label></div>
                                    <div class="col-sm d-flex justify-content-sm-start">รหัสพนักงาน :</div>
                                    <div class="col-sm bg-light rounded mb-2"><label class="d-flex justify-content-end">@item.employee_Id</label></div>
                                    <div class="col-sm d-flex justify-content-sm-start">active_Flag :</div>
                                    <div class="col-sm bg-light rounded mb-2"><label class="d-flex justify-content-end">@item.active_Flag</label></div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="row">
                                <div class="col"><label class="text-danger">ไม่พบข้อมูล</label></div>
                            </div>
                        }
                    </div>

                </div>
                <div class="tab-pane fade rounded shadow" style="background:#AAD4EE" id="nav-descjob" role="tabpanel" aria-labelledby="nav-descjob-tab">

                    @if (Model.jobHeaders != null)
                    {

                        <div class="container ps-1 mb-4 mt-2 display-6 d-flex justify-content-center ">รายละเอียดงาน</div>

                        <table class="table bg-white">
                            <thead>
                                <tr>
                                    <th align="center" style="text-align:center">JOB ID</th>
                                    <th align="center" style="text-align:center">CREATE DATE</th>
                                    <th align="center" style="text-align:center">CLOSE DATE</th>
                                    <th align="center" style="text-align:center"></th>
                                    <th align="center" style="text-align:center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @* @foreach (var item in Model.jobHeaders)
                            {
                            <tr>
                            <td align="center">@i+1 @item.job_Id</td>
                            <td align="center">@item.create_Date </td>
                            <td align="center">@item.close_Date  </td>
                            <td align="center"><button type="button" onclick="showdejobtail('@item.job_Id')" class="btn btn-success">Detail</button></td>
                            <td align="center"><button type="button" class="btn btn-warning">Timeline</button> </td>
                            </tr>
                            } *@
                                @for (int i = 0; i < Model.jobHeaders.Count(); i++)
                                {
                                    <tr>
                                        <td align="center">@Model.jobHeaders[i].job_Id</td>
                                        <td align="center">@Model.jobHeaders[i].create_Date </td>
                                        <td align="center">@Model.jobHeaders[i].close_Date  </td>
                                        <td align="center"><button type="button" onclick="showdejobtail('@Model.jobHeaders[i].job_Id')" class="btn btn-success">Detail</button></td>
                                        <td align="center"><button type="button" onclick="showtimeline('@Model.jobHeaders[i].job_Id')" class="btn btn-warning">Timeline</button> </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    }
                    else
                    {
                        <div class="row">
                            <div class="col"><label class="text-danger">ไม่พบข้อมูล</label></div>
                        </div>
                    }
                </div>
                <div class="tab-pane fade rounded shadow" style="background:#AAD4EE" id="nav-mailhis" role="tabpanel" aria-labelledby="nav-mailhis-tab">
                    <div class="container mb-4 mt-2 display-6 d-flex justify-content-center ">ประวัติการส่งอีเมล</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="jobmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header shadow" style="background : lightblue">
                <h5 class="modal-title" id="exampleModalLabel">JOBDETAIL</h5>
            </div>
            <div id="jobdetail" class="modal-body w-100 h-50 ScrollBar">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        

        $('.jobData').on('click', function () {
            var jobId = $(this).data('jobid');
            var createDate = $(this).data('createdate');
            var closeDate = $(this).data('closedate');

            // Now you can use jobId, createDate, and closeDate in your jQuery code
            console.log('Job ID:', jobId);
            console.log('Create Date:', createDate);
            console.log('Close Date:', closeDate);

            // You can perform further operations or pass this data to other functions.
        });
    });
    function showdejobtail(rownum) {
        // var jobData = $('#jobData');
        // var jobId = jobData.data('jobid');

        var myList = @Json.Serialize(Model.jobHeaders);
        var jobresult =  myList.filter(x => x.job_Id == rownum)
        //var detail = myList[rownum]
        console.log(myList);
        // var dd = {
        //     jobdetail: detail
        // }

        
        $.ajax({
            url: "@Url.Action("JobDetail","Home")",
            type: "POST",
            //************************************
            data: {
                myList: jobresult
            },
            //************************************
           
            success: function (result) {
                $('#jobmodal').modal('show');
                $('#jobdetail').append(result);
            }
        });


        // myList.forEach(function (item) {
        //  var into =  @Json.Serialize(Model.jobHeaders)
        //     console.log(item);
        // });
    }
    function showtimeline(jobid) {
        window.open("http://203.151.136.81/timelinejob?jobid=" + jobid);
    }


</script>