@using ICTransportDemo.DataContract;
@{
    ViewData["Title"] = "Home Page";
    List<CUSTOMER_DETAIL> detail;
}
@{
    bool showModal = ViewBag.ShowModal != null && (bool)ViewBag.ShowModal;

}
<header>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</header>
@if (showModal)
{
    <!-- Modal HTML -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">กรุณาเลือกรายการที่ต้องการ</h5>
                </div>
                <div class="modal-body w-100" >
                    @if (ViewBag.CompanyName != null)
                    {
                        detail = ViewBag.CompanyName;
                        <table class="table table-striped table-hover " id="myTable">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                    <th scope="col">Handle</th>
                                    <th scope="col">Handle</th>
                                    <th scope="col">Handle</th>
                                    <th scope="col">Handle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in detail)
                                {

                                    <tr data-id="@item.customer_id" data-name="@item.vehicleCus.Select(x => x.license_no).FirstOrDefault()">
                                        <th scope="row">3</th>
                                        <td colspan="2">@item.address</td>
                                        <td>@item.district_name_tha</td>
                                        <td>@item.sub_district_name_tha</td>
                                        <td>@item.province_name_tha</td>
                                        <td>@item.zip_Code</td>
                                        <td>@item.phone_No</td>
                                        @foreach (var lisen in item.vehicleCus)
                                        {
                                            
                                        }

                                        <td><button class="select-button">Select</button></td>
                                    </tr>
                                    @* <div class="row">
                                        <a href="/Home/MyPartialAction?cusid=@item.customer_id&licenno=@item.cust_type">@item.district_name_tha</a>
                                    </div> *@

                                }
                            </tbody>
                        </table>
                        
                    }
                </div>                
            </div>
        </div>
    </div>

    <!-- JavaScript to show the modal -->
    <script>
        $(document).ready(function () {
            $('#myModal').modal('show');
        });
        
        $(document).ready(function () {
           
            // Handle row selection
            $("#myTable").on("click", ".select-button", function () {
                var row = $(this).closest("tr");
                var id = row.data("id");
                var name = row.data("name");

                // Send the selected data to the controller action using AJAX
                $.ajax({
                    url: '@Url.Action("MyPartialAction", "Home")',
                    type: 'POST',
                    data: { id: id, name: name },
                    success: function (result) {
                        // Handle the response from the controller if needed
                        $('#myModal').modal('hide');
                    },
                    error: function (error) {
                        // Handle errors if any
                    }
                });
            });
        });
    </script>
}
<div class="container">
    <div class="row">
        <div class="col-sm-3 vh-100" style="background-color:#86C8FF">
            <div class="nav flex-column 100vh nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="background-color:#86C8FF">
                <div class="" data-bs-toggle="pill">รายการทะเบียน</div>
                @if(ViewBag.CompanyName != null){
                    @foreach (var item in ViewBag.CompanyName)
                    {
                       <a href="/Home/MyPartialAction?cusid=@item.customer_id&licenno=@item.cust_type">@item.customer_id</a>
                    }
                }
            </div>
        </div>
        <div class="col-sm-9 ">
            <div class="row" style="height:50px; background-color:#B8DEFD">

                <div class="col-2 align-text-bottom">
                    ชื่อบริษัท
                </div>
                <div class="col-4">
                    <form asp-action="ActionName" asp-controller="Home" method="post">
                        <input type="text" name="companyname" />
                        @* <input type="submit" value="Submit" /> *@
                        <button class="btn btn-outline-secondary" type="submit"@*  onclick="loadPartialView()" *@ id="button-addon2">ค้นหา</button>
                    </form>
                </div>

            </div>
            <div class="row">
                <div class="container mt-2 mb-2">
                    <div class="row">
                        <div class="col-2 justify-content-end">ข้อมูลลูกค้า</div>
                        <div class="col-4">@ViewBag.Name</div>
                        <div class="col-2 justify-content-end">ข้อมูลลูกค้า</div>
                        <div class="col-4">@ViewBag.Licen </div>
                    </div>
                    <div class="row">
                        <div class="col-2 justify-content-end">ข้อมูลลูกค้า</div>
                        <div class="col-4">@ViewBag.Name</div>
                        <div class="col-2 justify-content-end">ข้อมูลลูกค้า</div>
                        <div class="col-4">@ViewBag.Licen </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="tab-content" id="v-pills-tabContent">
                    <div>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-desc-tab" data-bs-toggle="tab" data-bs-target="#nav-desc" type="button" role="tab" aria-controls="nav-home" aria-selected="true">รายละเอียดรถ</button>
                                <button class="nav-link" id="nav-descjob-tab" data-bs-toggle="tab" data-bs-target="#nav-descjob" type="button" role="tab" aria-controls="nav-descjob" aria-selected="false">รายละเอียดงาน</button>
                                <button class="nav-link" id="nav-mailhis-tab" data-bs-toggle="tab" data-bs-target="#nav-mailhis" type="button" role="tab" aria-controls="nav-mailhis" aria-selected="false">ประวัติการส่งอีเมล</button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-desc" role="tabpanel" aria-labelledby="nav-desc-tab">
                                รายละเอียดรถ


                            </div>
                            <div class="tab-pane fade" id="nav-descjob" role="tabpanel" aria-labelledby="nav-descjob-tab">รายละเอียดงาน</div>
                            <div class="tab-pane fade" id="nav-mailhis" role="tabpanel" aria-labelledby="nav-mailhis-tab">ประวัติการส่งอีเมล</div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>
<script>
  
</script>